.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.about-photo img {
  width: 400px;
  border-radius: 40%;
  margin: 30px;
}

.about-details {
  flex: 1;
  font-family: Arial, sans-serif;
  margin: 30px;
}

.about-title {
  font-size: 2rem;
  color: #e26928;
  text-align: left;
  font-style: italic;
  margin-bottom: 30px;
}

.about-content {
  font-size: 1.25rem;
  color: #264653;
  text-align: left;
  margin-bottom: 40px;
}
