/*
  File Name: education.css
  Student Name: Po-Kai Chao
  Student ID: 301426941
  Date: January 26, 2025  
*/

.education-container {
    margin-top: 90px;
    padding: 40px;        
    color: #333;
}

.education-item {
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;  
}

.education-degree {
    font-size: 2rem;
    color: #e26928;
    text-align: left;    
    margin-bottom: 5px;
}

.education-timeline {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.education-school {
  font-size: 1.2rem;
  color: #333;
  margin: 5px 0px 10px;
}

.education-highlights {
    font-size: 1.25rem;
    color: #264653;
    text-align: left;
    margin-bottom: 40px;
    margin-left: 20px;
}
