/*
  File Name: project.css
  Student Name: Po-Kai Chao
  Student ID: 301426941
  Date: January 26, 2025  
*/

.projects-container {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;  
  color: #333;
}

.projects-list {
  display: flex;  
}

.project-item {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;  
}

.project-title {
  font-size: 2rem;
  color: #e26928;
  text-align: left;  
  margin-bottom: 20px;
}

.project-text {
  font-size: 1rem;
  color: #555;
}

.project-image img {
  width: 200px;
  height: 150px;
  object-fit: cover;  
}

.project-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.project-item:nth-child(even) {
  flex-direction: row;
}
