/*
  File Name: service.css
  Student Name: Po-Kai Chao
  Student ID: 301426941
  Date: January 26, 2025  
*/

.services-container {
    display: flex;
    margin-top: 100px;
    margin-left: 40px;    
    gap: 20px;
    padding: 20px;    
    color: #333;
  }
  
  .service-group {
    margin-bottom: 20px;
  }
  
  .group-title {
    font-size: 1.5rem;
    color: #264653;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
  }
  
  .group-items {    
    margin-left: 20px;
  }
    
  .services-images {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
  }
    
  .services-images img {        
  height: 300px;
  object-fit: cover;
  }
  
  