/*
  File Name: Home.css
  Student Name: Po-Kai Chao
  Student ID: 301426941
  Date: January 26, 2025  
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #bebebe;
}

.home-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 0px;
}

.home-content {
  font-family: Arial, sans-serif;
  padding: 20px;
  line-height: 1.6;
  color: #333;
}

.home-content h1 {
  font-size: 2.5rem;
  color: #2a9d8f;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.home-content p:first-of-type {
  font-size: 1.25rem;
  color: #264653;
  text-align: left;
  margin-bottom: 40px;
}

.home-content p:last-of-type {
  font-size: 2rem;
  color: #e26928;
  text-align: left;
  font-style: italic;
}

.home-buttons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  align-content: start;
}

.home-buttons button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  font-size: 2rem;
  width: 200px; /* 設置固定寬度 */
  height: 200px; /* 設置固定高度 */
}

.home-button:hover {
  background-color: #0056b3;
}
